In [55]:
import numpy as np,pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns,sklearn
import warnings
warnings.filterwarnings('ignore')

### 1. Import necessary libs

In [56]:
df=pd.read_csv(r'C:\Users\HP\Downloads\multi_index_assignment_261_264-1 - sheet - 1.csv')
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,2014,2014.1,2015,2015.1,2016,2016.1,2017,...,2019,2019.1,2020,2020.1,2021,2021.1,2022,2022.1,2023,2023.1
0,NaN,NaN,NaN,Jan-Jun,Jul-Dec,Jan-Jun,Jul-Dec,Jan-Jun,Jul-Dec,Jan-Jun,...,Jan-Jun,Jul-Dec,Jan-Jun,Jul-Dec,Jan-Jun,Jul-Dec,Jan-Jun,Jul-Dec,Jan-Jun,Jul-Dec
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Telangana,Hyderabad,Smart Phone,253,113,93,223,173,93,93,...,193,203,193,253,283,193,103,203,243,153
3,Telangana,Hyderabad,Smart TV,183,213,263,183,263,113,233,...,93,153,243,253,193,243,93,263,193,193
4,Telangana,Hyderabad,Air Conditioner,153,233,193,223,283,143,93,...,243,203,183,113,203,183,103,273,183,183
5,Telangana,Secunderabad,Smart Phone,93,273,263,213,173,133,213,...,203,123,263,163,143,183,203,143,283,133
6,Telangana,Secunderabad,Smart TV,123,123,103,143,113,143,263,...,193,263,163,153,123,223,143,253,143,273
7,Telangana,Secunderabad,Air Conditioner,173,163,183,273,273,133,203,...,173,263,223,233,213,113,103,113,183,213
8,Telangana,Rangareddy,Smart Phone,93,163,233,263,243,103,213,...,243,123,283,223,273,213,213,253,193,173
9,Telangana,Rangareddy,Smart TV,113,213,253,253,143,273,143,...,163,93,203,183,233,223,253,183,183,123
10,Telangana,Rangareddy,Air Conditioner,123,103,223,123,193,253,93,...,273,253,203,253,283,113,283,173,193,233
11,Tamilnadu,North Chennai,Smart Phone,143,243,173,153,123,123,183,...,103,253,263,153,153,173,283,213,243,193
12,Tamilnadu,North Chennai,Smart TV,273,153,143,283,273,263,263,...,123,263,173,103,163,233,93,283,183,133
13,Tamilnadu,North Chennai,Air Conditioner,93,133,93,153,163,193,273,...,183,173,213,123,153,123,203,153,143,223
14,Tamilnadu,South Chennai,Smart Phone,283,143,133,273,283,263,173,...,93,143,193,163,103,133,243,103,283,183
15,Tamilnadu,South Chennai,Smart TV,223,133,173,203,93,143,103,...,113,103,223,193,213,203,203,163,143,93
16,Tamilnadu,South Chennai,Air Conditioner,263,233,193,203,193,283,173,...,263,243,113,223,223,133,283,243,243,153
17,Tamilnadu,Central Chennai,Smart Phone,133,263,233,153,223,193,103,...,173,133,143,153,233,123,143,233,113,123
18,Tamilnadu,Central Chennai,Smart TV,183,233,163,163,103,113,213,...,213,183,123,273,173,283,93,183,213,163
19,Tamilnadu,Central Chennai,Air Conditioner,103,213,93,283,233,233,233,...,283,93,153,273,113,183,93,143,193,143
20,Karnataka,North Bangalore,Smart Phone,263,163,153,173,203,203,143,...,103,213,273,193,213,253,93,173,213,263
21,Karnataka,North Bangalore,Smart TV,103,173,213,203,253,173,173,...,213,103,173,283,273,233,213,233,243,163
22,Karnataka,North Bangalore,Air Conditioner,113,243,173,113,253,223,203,...,243,143,203,253,203,253,273,223,283,183
23,Karnataka,South Bangalore,Smart Phone,283,93,113,123,123,243,93,...,113,143,123,143,263,173,203,263,143,283
24,Karnataka,South Bangalore,Smart TV,143,193,213,243,223,193,223,...,273,273,203,153,213,203,133,113,153,193
25,Karnataka,South Bangalore,Air Conditioner,203,173,123,213,153,173,203,...,273,123,163,93,283,143,143,213,183,103
26,Karnataka,Central Bangalore,Smart Phone,163,103,283,243,193,253,183,...,253,193,93,93,123,263,223,283,113,233
27,Karnataka,Central Bangalore,Smart TV,263,103,133,103,223,213,263,...,133,123,163,173,93,153,243,233,223,203
28,Karnataka,Central Bangalore,Air Conditioner,143,273,273,103,103,113,143,...,193,153,193,133,133,123,253,263,203,153

### 2.Using the csv file given, create a MultiIndex DataFrame using cols 0, 1, 2 as index and multiCol using rows 0, 1

In [57]:
df=pd.read_csv(r'C:\Users\HP\Downloads\multi_index_assignment_261_264-1 - sheet - 1.csv',index_col=[0,1,2],header=[0,1])
df

                                               2014            2015          \
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Telangana Hyderabad         Smart Phone         253     113      93     223
                            Smart TV            183     213     263     183
                            Air Conditioner     153     233     193     223
          Secunderabad      Smart Phone          93     273     263     213
                            Smart TV            123     123     103     143
                            Air Conditioner     173     163     183     273
          Rangareddy        Smart Phone          93     163     233     263
                            Smart TV            113     213     253     253
                            Air Conditioner     123     103     223     123
Tamilnadu North Chennai     Smart Phone         143     243     173     153
                            Smart TV            273     153     143     283
                            Air Conditioner      93     133      93     153
          South Chennai     Smart Phone         283     143     133     273
                            Smart TV            223     133     173     203
                            Air Conditioner     263     233     193     203
          Central Chennai   Smart Phone         133     263     233     153
                            Smart TV            183     233     163     163
                            Air Conditioner     103     213      93     283
Karnataka North Bangalore   Smart Phone         263     163     153     173
                            Smart TV            103     173     213     203
                            Air Conditioner     113     243     173     113
          South Bangalore   Smart Phone         283      93     113     123
                            Smart TV            143     193     213     243
                            Air Conditioner     203     173     123     213
          Central Bangalore Smart Phone         163     103     283     243
                            Smart TV            263     103     133     103
                            Air Conditioner     143     273     273     103

                                               2016            2017          \
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Telangana Hyderabad         Smart Phone         173      93      93     253
                            Smart TV            263     113     233     273
                            Air Conditioner     283     143      93     193
          Secunderabad      Smart Phone         173     133     213     113
                            Smart TV            113     143     263     163
                            Air Conditioner     273     133     203     173
          Rangareddy        Smart Phone         243     103     213     253
                            Smart TV            143     273     143     253
                            Air Conditioner     193     253      93     113
Tamilnadu North Chennai     Smart Phone         123     123     183     143
                            Smart TV            273     263     263     133
                            Air Conditioner     163     193     273     243
          South Chennai     Smart Phone         283     263     173     263
                            Smart TV             93     143     103     183
                            Air Conditioner     193     283     173     283
          Central Chennai   Smart Phone         223     193     103     223
                            Smart TV            103     113     213     203
                            Air Conditioner     233     233     233     103
Karnataka North Bangalore   Smart Phone         203     203     143     153
                            Smart TV            253     173     173     113
                            Air Conditioner     253     223     203     113
          South Bangalore   Smart Phone         123     243      93     183
                            Smart TV            223     193     223     203
                            Air Conditioner     153     173     203     213
          Central Bangalore Smart Phone         193     253     183     193
                            Smart TV            223     213     263      93
                            Air Conditioner     103     113     143     243

                                               2018            2019          \
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Telangana Hyderabad         Smart Phone         153     173     193     203
                            Smart TV            263     273      93     153
                            Air Conditioner     153     153     243     203
          Secunderabad      Smart Phone         133     153     203     123
                            Smart TV             93     243     193     263
                            Air Conditioner     243     163     173     263
          Rangareddy        Smart Phone          93     123     243     123
                            Smart TV            113     173     163      93
                            Air Conditioner     133      93     273     253
Tamilnadu North Chennai     Smart Phone         203     223     103     253
                            Smart TV            113     193     123     263
                            Air Conditioner     263     103     183     173
          South Chennai     Smart Phone         153     283      93     143
                            Smart TV            243     103     113     103
                            Air Conditioner     143     163     263     243
          Central Chennai   Smart Phone         283     153     173     133
                            Smart TV            173     283     213     183
                            Air Conditioner     173     263     283      93
Karnataka North Bangalore   Smart Phone         223     243     103     213
                            Smart TV            143     253     213     103
                            Air Conditioner     213     283     243     143
          South Bangalore   Smart Phone          93     153     113     143
                            Smart TV            123     253     273     273
                            Air Conditioner     213     103     273     123
          Central Bangalore Smart Phone         203     163     253     193
                            Smart TV            273     283     133     123
                            Air Conditioner     283     153     193     153

                                               2020            2021          \
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Telangana Hyderabad         Smart Phone         193     253     283     193
                            Smart TV            243     253     193     243
                            Air Conditioner     183     113     203     183
          Secunderabad      Smart Phone         263     163     143     183
                            Smart TV            163     153     123     223
                            Air Conditioner     223     233     213     113
          Rangareddy        Smart Phone         283     223     273     213
                            Smart TV            203     183     233     223
                            Air Conditioner     203     253     283     113
Tamilnadu North Chennai     Smart Phone         263     153     153     173
                            Smart TV            173     103     163     233
                            Air Conditioner     213     123     153     123
          South Chennai     Smart Phone         193     163     103     133
                            Smart TV            223     193     213     203
                            Air Conditioner     113     223     223     133
          Central Chennai   Smart Phone         143     153     233     123
                            Smart TV            123     273     173     283
                            Air Conditioner     153     273     113     183
Karnataka North Bangalore   Smart Phone         273     193     213     253
                            Smart TV            173     283     273     233
                            Air Conditioner     203     253     203     253
          South Bangalore   Smart Phone         123     143     263     173
                            Smart TV            203     153     213     203
                            Air Conditioner     163      93     283     143
          Central Bangalore Smart Phone          93      93     123     263
                            Smart TV            163     173      93     153
                            Air Conditioner     193     133     133     123

                                               2022            2023
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Telangana Hyderabad         Smart Phone         103     203     243     153
                            Smart TV             93     263     193     193
                            Air Conditioner     103     273     183     183
          Secunderabad      Smart Phone         203     143     283     133
                            Smart TV            143     253     143     273
                            Air Conditioner     103     113     183     213
          Rangareddy        Smart Phone         213     253     193     173
                            Smart TV            253     183     183     123
                            Air Conditioner     283     173     193     233
Tamilnadu North Chennai     Smart Phone         283     213     243     193
                            Smart TV             93     283     183     133
                            Air Conditioner     203     153     143     223
          South Chennai     Smart Phone         243     103     283     183
                            Smart TV            203     163     143      93
                            Air Conditioner     283     243     243     153
          Central Chennai   Smart Phone         143     233     113     123
                            Smart TV             93     183     213     163
                            Air Conditioner      93     143     193     143
Karnataka North Bangalore   Smart Phone          93     173     213     263
                            Smart TV            213     233     243     163
                            Air Conditioner     273     223     283     183
          South Bangalore   Smart Phone         203     263     143     283
                            Smart TV            133     113     153     193
                            Air Conditioner     143     213     183     103
          Central Bangalore Smart Phone         223     283     113     233
                            Smart TV            243     233     223     203
                            Air Conditioner     253     263     203     153

### 3.sort the index

In [58]:
df.sort_index()

                                               2014            2015          \
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Karnataka Central Bangalore Air Conditioner     143     273     273     103
                            Smart Phone         163     103     283     243
                            Smart TV            263     103     133     103
          North Bangalore   Air Conditioner     113     243     173     113
                            Smart Phone         263     163     153     173
                            Smart TV            103     173     213     203
          South Bangalore   Air Conditioner     203     173     123     213
                            Smart Phone         283      93     113     123
                            Smart TV            143     193     213     243
Tamilnadu Central Chennai   Air Conditioner     103     213      93     283
                            Smart Phone         133     263     233     153
                            Smart TV            183     233     163     163
          North Chennai     Air Conditioner      93     133      93     153
                            Smart Phone         143     243     173     153
                            Smart TV            273     153     143     283
          South Chennai     Air Conditioner     263     233     193     203
                            Smart Phone         283     143     133     273
                            Smart TV            223     133     173     203
Telangana Hyderabad         Air Conditioner     153     233     193     223
                            Smart Phone         253     113      93     223
                            Smart TV            183     213     263     183
          Rangareddy        Air Conditioner     123     103     223     123
                            Smart Phone          93     163     233     263
                            Smart TV            113     213     253     253
          Secunderabad      Air Conditioner     173     163     183     273
                            Smart Phone          93     273     263     213
                            Smart TV            123     123     103     143

                                               2016            2017          \
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Karnataka Central Bangalore Air Conditioner     103     113     143     243
                            Smart Phone         193     253     183     193
                            Smart TV            223     213     263      93
          North Bangalore   Air Conditioner     253     223     203     113
                            Smart Phone         203     203     143     153
                            Smart TV            253     173     173     113
          South Bangalore   Air Conditioner     153     173     203     213
                            Smart Phone         123     243      93     183
                            Smart TV            223     193     223     203
Tamilnadu Central Chennai   Air Conditioner     233     233     233     103
                            Smart Phone         223     193     103     223
                            Smart TV            103     113     213     203
          North Chennai     Air Conditioner     163     193     273     243
                            Smart Phone         123     123     183     143
                            Smart TV            273     263     263     133
          South Chennai     Air Conditioner     193     283     173     283
                            Smart Phone         283     263     173     263
                            Smart TV             93     143     103     183
Telangana Hyderabad         Air Conditioner     283     143      93     193
                            Smart Phone         173      93      93     253
                            Smart TV            263     113     233     273
          Rangareddy        Air Conditioner     193     253      93     113
                            Smart Phone         243     103     213     253
                            Smart TV            143     273     143     253
          Secunderabad      Air Conditioner     273     133     203     173
                            Smart Phone         173     133     213     113
                            Smart TV            113     143     263     163

                                               2018            2019          \
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Karnataka Central Bangalore Air Conditioner     283     153     193     153
                            Smart Phone         203     163     253     193
                            Smart TV            273     283     133     123
          North Bangalore   Air Conditioner     213     283     243     143
                            Smart Phone         223     243     103     213
                            Smart TV            143     253     213     103
          South Bangalore   Air Conditioner     213     103     273     123
                            Smart Phone          93     153     113     143
                            Smart TV            123     253     273     273
Tamilnadu Central Chennai   Air Conditioner     173     263     283      93
                            Smart Phone         283     153     173     133
                            Smart TV            173     283     213     183
          North Chennai     Air Conditioner     263     103     183     173
                            Smart Phone         203     223     103     253
                            Smart TV            113     193     123     263
          South Chennai     Air Conditioner     143     163     263     243
                            Smart Phone         153     283      93     143
                            Smart TV            243     103     113     103
Telangana Hyderabad         Air Conditioner     153     153     243     203
                            Smart Phone         153     173     193     203
                            Smart TV            263     273      93     153
          Rangareddy        Air Conditioner     133      93     273     253
                            Smart Phone          93     123     243     123
                            Smart TV            113     173     163      93
          Secunderabad      Air Conditioner     243     163     173     263
                            Smart Phone         133     153     203     123
                            Smart TV             93     243     193     263

                                               2020            2021          \
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Karnataka Central Bangalore Air Conditioner     193     133     133     123
                            Smart Phone          93      93     123     263
                            Smart TV            163     173      93     153
          North Bangalore   Air Conditioner     203     253     203     253
                            Smart Phone         273     193     213     253
                            Smart TV            173     283     273     233
          South Bangalore   Air Conditioner     163      93     283     143
                            Smart Phone         123     143     263     173
                            Smart TV            203     153     213     203
Tamilnadu Central Chennai   Air Conditioner     153     273     113     183
                            Smart Phone         143     153     233     123
                            Smart TV            123     273     173     283
          North Chennai     Air Conditioner     213     123     153     123
                            Smart Phone         263     153     153     173
                            Smart TV            173     103     163     233
          South Chennai     Air Conditioner     113     223     223     133
                            Smart Phone         193     163     103     133
                            Smart TV            223     193     213     203
Telangana Hyderabad         Air Conditioner     183     113     203     183
                            Smart Phone         193     253     283     193
                            Smart TV            243     253     193     243
          Rangareddy        Air Conditioner     203     253     283     113
                            Smart Phone         283     223     273     213
                            Smart TV            203     183     233     223
          Secunderabad      Air Conditioner     223     233     213     113
                            Smart Phone         263     163     143     183
                            Smart TV            163     153     123     223

                                               2022            2023
                                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Karnataka Central Bangalore Air Conditioner     253     263     203     153
                            Smart Phone         223     283     113     233
                            Smart TV            243     233     223     203
          North Bangalore   Air Conditioner     273     223     283     183
                            Smart Phone          93     173     213     263
                            Smart TV            213     233     243     163
          South Bangalore   Air Conditioner     143     213     183     103
                            Smart Phone         203     263     143     283
                            Smart TV            133     113     153     193
Tamilnadu Central Chennai   Air Conditioner      93     143     193     143
                            Smart Phone         143     233     113     123
                            Smart TV             93     183     213     163
          North Chennai     Air Conditioner     203     153     143     223
                            Smart Phone         283     213     243     193
                            Smart TV             93     283     183     133
          South Chennai     Air Conditioner     283     243     243     153
                            Smart Phone         243     103     283     183
                            Smart TV            203     163     143      93
Telangana Hyderabad         Air Conditioner     103     273     183     183
                            Smart Phone         103     203     243     153
                            Smart TV             93     263     193     193
          Rangareddy        Air Conditioner     283     173     193     233
                            Smart Phone         213     253     193     173
                            Smart TV            253     183     183     123
          Secunderabad      Air Conditioner     103     113     183     213
                            Smart Phone         203     143     283     133
                            Smart TV            143     253     143     273

### 4.Name the index cols as State, Region, Product and the multicol levels as Year and Semester

In [82]:
df.index.names = ['State','Region','Product']
df.columns.names = ['Year','Semester']
df

Year                                           2014            2015          \
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Telangana Hyderabad         Smart Phone         253     113      93     223
                            Smart TV            183     213     263     183
                            Air Conditioner     153     233     193     223
          Secunderabad      Smart Phone          93     273     263     213
                            Smart TV            123     123     103     143
                            Air Conditioner     173     163     183     273
          Rangareddy        Smart Phone          93     163     233     263
                            Smart TV            113     213     253     253
                            Air Conditioner     123     103     223     123
Tamilnadu North Chennai     Smart Phone         143     243     173     153
                            Smart TV            273     153     143     283
                            Air Conditioner      93     133      93     153
          South Chennai     Smart Phone         283     143     133     273
                            Smart TV            223     133     173     203
                            Air Conditioner     263     233     193     203
          Central Chennai   Smart Phone         133     263     233     153
                            Smart TV            183     233     163     163
                            Air Conditioner     103     213      93     283
Karnataka North Bangalore   Smart Phone         263     163     153     173
                            Smart TV            103     173     213     203
                            Air Conditioner     113     243     173     113
          South Bangalore   Smart Phone         283      93     113     123
                            Smart TV            143     193     213     243
                            Air Conditioner     203     173     123     213
          Central Bangalore Smart Phone         163     103     283     243
                            Smart TV            263     103     133     103
                            Air Conditioner     143     273     273     103

Year                                           2016            2017          \
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Telangana Hyderabad         Smart Phone         173      93      93     253
                            Smart TV            263     113     233     273
                            Air Conditioner     283     143      93     193
          Secunderabad      Smart Phone         173     133     213     113
                            Smart TV            113     143     263     163
                            Air Conditioner     273     133     203     173
          Rangareddy        Smart Phone         243     103     213     253
                            Smart TV            143     273     143     253
                            Air Conditioner     193     253      93     113
Tamilnadu North Chennai     Smart Phone         123     123     183     143
                            Smart TV            273     263     263     133
                            Air Conditioner     163     193     273     243
          South Chennai     Smart Phone         283     263     173     263
                            Smart TV             93     143     103     183
                            Air Conditioner     193     283     173     283
          Central Chennai   Smart Phone         223     193     103     223
                            Smart TV            103     113     213     203
                            Air Conditioner     233     233     233     103
Karnataka North Bangalore   Smart Phone         203     203     143     153
                            Smart TV            253     173     173     113
                            Air Conditioner     253     223     203     113
          South Bangalore   Smart Phone         123     243      93     183
                            Smart TV            223     193     223     203
                            Air Conditioner     153     173     203     213
          Central Bangalore Smart Phone         193     253     183     193
                            Smart TV            223     213     263      93
                            Air Conditioner     103     113     143     243

Year                                           2018            2019          \
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Telangana Hyderabad         Smart Phone         153     173     193     203
                            Smart TV            263     273      93     153
                            Air Conditioner     153     153     243     203
          Secunderabad      Smart Phone         133     153     203     123
                            Smart TV             93     243     193     263
                            Air Conditioner     243     163     173     263
          Rangareddy        Smart Phone          93     123     243     123
                            Smart TV            113     173     163      93
                            Air Conditioner     133      93     273     253
Tamilnadu North Chennai     Smart Phone         203     223     103     253
                            Smart TV            113     193     123     263
                            Air Conditioner     263     103     183     173
          South Chennai     Smart Phone         153     283      93     143
                            Smart TV            243     103     113     103
                            Air Conditioner     143     163     263     243
          Central Chennai   Smart Phone         283     153     173     133
                            Smart TV            173     283     213     183
                            Air Conditioner     173     263     283      93
Karnataka North Bangalore   Smart Phone         223     243     103     213
                            Smart TV            143     253     213     103
                            Air Conditioner     213     283     243     143
          South Bangalore   Smart Phone          93     153     113     143
                            Smart TV            123     253     273     273
                            Air Conditioner     213     103     273     123
          Central Bangalore Smart Phone         203     163     253     193
                            Smart TV            273     283     133     123
                            Air Conditioner     283     153     193     153

Year                                           2020            2021          \
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Telangana Hyderabad         Smart Phone         193     253     283     193
                            Smart TV            243     253     193     243
                            Air Conditioner     183     113     203     183
          Secunderabad      Smart Phone         263     163     143     183
                            Smart TV            163     153     123     223
                            Air Conditioner     223     233     213     113
          Rangareddy        Smart Phone         283     223     273     213
                            Smart TV            203     183     233     223
                            Air Conditioner     203     253     283     113
Tamilnadu North Chennai     Smart Phone         263     153     153     173
                            Smart TV            173     103     163     233
                            Air Conditioner     213     123     153     123
          South Chennai     Smart Phone         193     163     103     133
                            Smart TV            223     193     213     203
                            Air Conditioner     113     223     223     133
          Central Chennai   Smart Phone         143     153     233     123
                            Smart TV            123     273     173     283
                            Air Conditioner     153     273     113     183
Karnataka North Bangalore   Smart Phone         273     193     213     253
                            Smart TV            173     283     273     233
                            Air Conditioner     203     253     203     253
          South Bangalore   Smart Phone         123     143     263     173
                            Smart TV            203     153     213     203
                            Air Conditioner     163      93     283     143
          Central Bangalore Smart Phone          93      93     123     263
                            Smart TV            163     173      93     153
                            Air Conditioner     193     133     133     123

Year                                           2022            2023
Semester                                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region            Product
Telangana Hyderabad         Smart Phone         103     203     243     153
                            Smart TV             93     263     193     193
                            Air Conditioner     103     273     183     183
          Secunderabad      Smart Phone         203     143     283     133
                            Smart TV            143     253     143     273
                            Air Conditioner     103     113     183     213
          Rangareddy        Smart Phone         213     253     193     173
                            Smart TV            253     183     183     123
                            Air Conditioner     283     173     193     233
Tamilnadu North Chennai     Smart Phone         283     213     243     193
                            Smart TV             93     283     183     133
                            Air Conditioner     203     153     143     223
          South Chennai     Smart Phone         243     103     283     183
                            Smart TV            203     163     143      93
                            Air Conditioner     283     243     243     153
          Central Chennai   Smart Phone         143     233     113     123
                            Smart TV             93     183     213     163
                            Air Conditioner      93     143     193     143
Karnataka North Bangalore   Smart Phone          93     173     213     263
                            Smart TV            213     233     243     163
                            Air Conditioner     273     223     283     183
          South Bangalore   Smart Phone         203     263     143     283
                            Smart TV            133     113     153     193
                            Air Conditioner     143     213     183     103
          Central Bangalore Smart Phone         223     283     113     233
                            Smart TV            243     233     223     203
                            Air Conditioner     253     263     203     153

### 5.Using .loc method, find the number of units of Smart Tv sold in Central Channai in year 2020

In [60]:
df.loc['Tamilnadu','Central Chennai','Smart TV']['2020']

Jan-Jun    123
Jul-Dec    273
Name: (Tamilnadu, Central Chennai, Smart TV), dtype: int64

### 6.using .loc and slice(), get the records from Rangareddy, Telangana and all records from Tamilnadu for years 'Jul-Dec' of 2016 till & including 2019

In [66]:
idx=pd.IndexSlice

In [67]:
df.loc[idx[:,(['Rangareddy']),:]]

                                        2014            2015            2016  \
                                     Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
Telangana Rangareddy Smart Phone          93     163     233     263     243
                     Smart TV            113     213     253     253     143
                     Air Conditioner     123     103     223     123     193

                                                2017            2018          \
                                     Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Telangana Rangareddy Smart Phone         103     213     253      93     123
                     Smart TV            273     143     253     113     173
                     Air Conditioner     253      93     113     133      93

                                        2019            2020            2021  \
                                     Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
Telangana Rangareddy Smart Phone         243     123     283     223     273
                     Smart TV            163      93     203     183     233
                     Air Conditioner     273     253     203     253     283

                                                2022            2023
                                     Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Telangana Rangareddy Smart Phone         213     213     253     193     173
                     Smart TV            223     253     183     183     123
                     Air Conditioner     113     283     173     193     233

In [73]:
df.loc[(('Telangana','Rangareddy'),(('2016','2017','2018','2019'),'Jul-Dec'))]

                   2016    2017    2018    2019
                Jul-Dec Jul-Dec Jul-Dec Jul-Dec
Smart Phone         103     253     123     123
Smart TV            273     253     173      93
Air Conditioner     253     113      93     253

In [75]:
df.loc[(('Tamilnadu'),(('2016','2017','2018','2019'),'Jul-Dec'))]

                                   2016    2017    2018    2019
                                Jul-Dec Jul-Dec Jul-Dec Jul-Dec
North Chennai   Smart Phone         123     143     223     253
                Smart TV            263     133     193     263
                Air Conditioner     193     243     103     173
South Chennai   Smart Phone         263     263     283     143
                Smart TV            143     183     103     103
                Air Conditioner     283     283     163     243
Central Chennai Smart Phone         193     223     153     133
                Smart TV            113     203     283     183
                Air Conditioner     233     103     263      93

### 7.using .xs(), get all the records from Karnataka belonging to Air Conditioner

In [93]:
df.xs('Karnataka').loc[(slice(None),'Air Conditioner'),:]

Year                                 2014            2015            2016  \
Semester                          Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
Region            Product
North Bangalore   Air Conditioner     113     243     173     113     253
South Bangalore   Air Conditioner     203     173     123     213     153
Central Bangalore Air Conditioner     143     273     273     103     103

Year                                         2017            2018          \
Semester                          Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Region            Product
North Bangalore   Air Conditioner     223     203     113     213     283
South Bangalore   Air Conditioner     173     203     213     213     103
Central Bangalore Air Conditioner     113     143     243     283     153

Year                                 2019            2020            2021  \
Semester                          Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
Region            Product
North Bangalore   Air Conditioner     243     143     203     253     203
South Bangalore   Air Conditioner     273     123     163      93     283
Central Bangalore Air Conditioner     193     153     193     133     133

Year                                         2022            2023
Semester                          Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Region            Product
North Bangalore   Air Conditioner     253     273     223     283     183
South Bangalore   Air Conditioner     143     143     213     183     103
Central Bangalore Air Conditioner     123     253     263     203     153

### 8. using .xs(), get all the records from 'Jan-Jun'

In [96]:
df=xs.loc[('2014')]

NameError: name 'xs' is not defined

### 9.using 'get_level_values', get all records belonging to 'Smart TV'

In [97]:
df[df.index.get_level_values('product')=='Smart TV']

KeyError: 'Level product not found'

### 10.Give a detailed data about the Tamilnadu, and then tell me how many items were sold in total from this warehouse over the 10 year period?

In [90]:
df.loc[df.index.get_level_values('State')=='Tamilnadu']

Year                                         2014            2015          \
Semester                                  Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region          Product
Tamilnadu North Chennai   Smart Phone         143     243     173     153
                          Smart TV            273     153     143     283
                          Air Conditioner      93     133      93     153
          South Chennai   Smart Phone         283     143     133     273
                          Smart TV            223     133     173     203
                          Air Conditioner     263     233     193     203
          Central Chennai Smart Phone         133     263     233     153
                          Smart TV            183     233     163     163
                          Air Conditioner     103     213      93     283

Year                                         2016            2017          \
Semester                                  Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region          Product
Tamilnadu North Chennai   Smart Phone         123     123     183     143
                          Smart TV            273     263     263     133
                          Air Conditioner     163     193     273     243
          South Chennai   Smart Phone         283     263     173     263
                          Smart TV             93     143     103     183
                          Air Conditioner     193     283     173     283
          Central Chennai Smart Phone         223     193     103     223
                          Smart TV            103     113     213     203
                          Air Conditioner     233     233     233     103

Year                                         2018            2019          \
Semester                                  Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region          Product
Tamilnadu North Chennai   Smart Phone         203     223     103     253
                          Smart TV            113     193     123     263
                          Air Conditioner     263     103     183     173
          South Chennai   Smart Phone         153     283      93     143
                          Smart TV            243     103     113     103
                          Air Conditioner     143     163     263     243
          Central Chennai Smart Phone         283     153     173     133
                          Smart TV            173     283     213     183
                          Air Conditioner     173     263     283      93

Year                                         2020            2021          \
Semester                                  Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region          Product
Tamilnadu North Chennai   Smart Phone         263     153     153     173
                          Smart TV            173     103     163     233
                          Air Conditioner     213     123     153     123
          South Chennai   Smart Phone         193     163     103     133
                          Smart TV            223     193     213     203
                          Air Conditioner     113     223     223     133
          Central Chennai Smart Phone         143     153     233     123
                          Smart TV            123     273     173     283
                          Air Conditioner     153     273     113     183

Year                                         2022            2023
Semester                                  Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State     Region          Product
Tamilnadu North Chennai   Smart Phone         283     213     243     193
                          Smart TV             93     283     183     133
                          Air Conditioner     203     153     143     223
          South Chennai   Smart Phone         243     103     283     183
                          Smart TV            203     163     143      93
                          Air Conditioner     283     243     243     153
          Central Chennai Smart Phone         143     233     113     123
                          Smart TV             93     183     213     163
                          Air Conditioner      93     143     193     143

### 11.How many Smart TV were sold in Telangana & Karnataka during the year 2017?

### 12.Get me list of all items that were sold in the Jul-Dec semester of the year 2020 for all States

### 14.What method is used to know if the MultiIndex index is sorted or not